/* ===========================
   Карточка товара
   =========================== */

.product-card {
    width: 300px;   /* фиксированная ширина карточки */
    flex: 0 0 auto; /* не растягивать */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 420px; /* фиксированная высота */
    gap: var(--gap-12);
    background: var(--color-bg);
    border: 1px solid var(--color-border);
    border-radius: var(--radius-6);
    box-shadow: var(--shadow-1);
    overflow: hidden;
    transition: transform var(--transition-base), box-shadow var(--transition-base);
}

.product-card:hover {
    transform: translateY(-2px);
    box-shadow: var(--shadow-2);
}

.product-card__media {
    margin: 10px 0;
    width: 100%;
    height: 200px; /* фиксированное окно */
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-bg-soft);
    overflow: hidden;
}

.product-card__image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* вписываем картинку внутрь */
    display: block;
}


.product-card__content {
    display: grid;
    gap: var(--gap-8);
    padding: var(--gap-16);
}

.product-card__title {
    font-family: var(--font-heading);
    font-size: var(--fs-18);
    font-weight: 600;
}

.product-card__desc {
    color: var(--color-muted);
    font-size: var(--fs-14);
}

.product-card__price {
    font-weight: 700;
    font-size: var(--fs-16);
    color: var(--color-text);
}

.product-card__actions {
    display: flex;
    gap: var(--gap-8);
    margin-top: var(--gap-8);
}

.product-card__btn {
    flex: 1;
}

.product-card__meta {
    display: flex;
    justify-content: space-between;
    font-size: var(--fs-14);
    color: var(--color-muted);
}
