@import url('reset.css');
@import url('variables.css');
@import url('layout.css');
@import url('components.css');
@import url('product.css');
@import url('cart.css');
@import url('addresses.css');
@import url('admin-orders.css');
@import url('orders.css');
@import url('checkout.css');
@import url('order-success.css');
@import url('access-denied.css');
@import url('auth.css');
@import url('profile.css');

/* Глобальные секции */
.main {
    padding: var(--gap-24) 0;
}

.section {
    padding: var(--gap-24) 0;
}

.section--soft {
    background: var(--color-bg-soft);
}

.section--hero {
    padding: var(--gap-32) 0;
    text-align: center;
}

    .section--hero .h1 {
        margin-bottom: var(--gap-16);
    }

.section__actions {
    margin-top: var(--gap-24);
}
